@page "/about"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> About me </h2>
    <div>
        @if (Model.IsAuthenticated())
        {
            @foreach (var claim in Model.FilteredClaims)
            {
                <p>@claim</p>
            }

            <form method="post" asp-page-handler="ForgetAuthor" onsubmit="return confirm('Are you sure that you want to delete your user?')">
                <button type="submit" class="delete-btn" class="delete-btn">Forget me</button>
            </form>     
            <br>

            <h2>Following: @Model.Following.Count() </h2>
            @foreach (var following in Model.Following)
            {
                <ul id="messagelist" class="cheeps">
                    <li>
                        <a href="/@following"><img style="width:48px; height:48px" src="https://avatars.githubusercontent.com/@following"></a>
                        <form method="post" asp-page-handler="Unfollow">
                            <input type="hidden" name="authorName" value="@following" />
                            <button type="submit" style="float: right">Unfollow</button>
                        </form>
                        <strong>
                            <a href="/@following">@following</a>
                        </strong>
                    </li>
                </ul>
            }

            <h2>Followers: @Model.Followers.Count()</h2>
            @foreach (string follower in Model.Followers)
            {
                <ul id="messagelist" class="cheeps">
                    <li>
                        <a href="/@follower"><img style="width:48px; height:48px" src="https://avatars.githubusercontent.com/@follower"></a>
                        @if (Model.Following.Contains(follower)) 
                        {
                            <form method="post" asp-page-handler="Unfollow">
                                <input type="hidden" name="authorName" value="@follower" />
                                <button type="submit" style="float: right">Unfollow</button>
                            </form>
                        }
                        else 
                        {
                            <form method="post" asp-page-handler="Follow">
                                <input type="hidden" name="authorName" value="@follower" />
                                <button type="submit" style="float: right">Follow Back</button>
                            </form>
                        }
                        <strong>
                            <a href="/@follower">@follower</a>
                        </strong>
                    </li>
                </ul>
            }

            <h2>My cheeps</h2>
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <a href="/@cheep.AuthorName"><img style="width:48px; height:48px" src="https://avatars.githubusercontent.com/@cheep.AuthorName"></a>
                        <form method="post" asp-page-handler="DeleteCheep" onsubmit="return confirm('Are you sure you want to delete this cheep?')">
                            <input type="hidden" name="cheepId" value="@cheep.CheepId" />
                            <button type="submit" class="delete-btn" style="float: right">Delete</button>
                        </form>
                        <strong><a href="/@cheep.AuthorName">@cheep.AuthorName</a></strong>
                        <small>&mdash; @cheep.TimeStamp</small>
                        <br>
                        <p>
                            @cheep.Text
                        </p>
                    </li>
                }
            </ul>


        }
        else
        {
            <p>You are not logged in.</p>
        }
    </div>
</div>
