@page "/public"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.PublicModel
@{
    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Public Timeline";
}

@if (Model.GetUserName() != null)
{
    <div class="twitbox">
        <h3>What's on your mind @(Model.GetUserName())?</h3>
        <form method="post">
            <p>
                <input type="text" name="text" asp-for="Text" size=60>
                <input type="submit" value="Share">
                @Html.AntiForgeryToken()
            </p>
        </form>
    </div>
}

<ul class=messages>
    @if (!Model.Messages.Any())
    {
        <li><em>There's no message so far.</em></li>
    }
    else
    {
        @foreach (var message in Model.Messages)
        {
            <li><img src="@Model.GetGravatar(message.Username)">
                <p>
                    <strong><a href="/@message.Username">@message.Username</a></strong>
                    @message.Text
                    <small>&mdash; @message.Date</small>
                </p>
            </li>
        }
    }
</ul>